/.idea
*.iml
/target
/string-trees/target
/trees-api/target
/trees-internal/target
/trees-spi/target
/trees-common/target
/trees-utilities/target
/trees-api-examples/target
/trees-spi-examples/target
.classpath
.project
.settings
